.header .search-bar {
  min-height: 20px;
  padding: 0 20px;
  margin-bottom: -10px;
}

@media (max-width: 1199px) {
  .header .search-bar {
    position: fixed;
    top: 50px;
    left: 0;
    right: 0;
    padding: 20px;
    box-shadow: 0px 0px 15px 0px rgba(1, 41, 112, 0.1);
    background: #181818;
    z-index: 9999;
    transition: 0.3s;
    visibility: hidden;
    opacity: 0;
  }

  .header .search-bar-show {
    top: 60px;
    visibility: visible;
    opacity: 1;
  }
}

.header .search-form {
  width: 100%;
}
.header .search-form input {
  border: 0;
  font-size: 14px;
  color: white;
  border: 1px solid rgba(1, 41, 112, 0.1);
  border-radius: 3px;
  padding: 10px 40px 9px 8px;
  transition: 0.3s;
  width: 380px;
  margin-left: 350px;
  border-radius: 15px;
  background-color: #181818;
}

.header .search-form input:focus,
.header.search-form input:hover {
  outline: none;
  box-shadow: 0 0 10px 0 rgba(1, 41, 112, 0.15);
  border: 1px solid rgba(1, 41, 112, 0.3);
}

.header .search-form button {
  border: 0;
  padding: 0;
  margin-left: -40px;
  background: none;
}
.header .search-bar i {
  color: white;
}
